<%- include("header") -%>



<div>
    <a href="/listSelect">Change list</a>
  </div>
  
  
    <div class="box" id="heading">
      <h1> Select or Create List </h1>
    </div>
    <div class="box">
     
  
  
        
  
        <form class="item" action="/listCreation" method="post">
          <input type="text" autofocus name="newItem" placeholder="Enter list name" autocomplete="off">
          <button type="submit" name="list" value="" >-></button>
        </form>
    </div>
<%- include("footer") -%>
